twi20approx8sample32.csv filter=lfs diff=lfs merge=lfs -text
twi20approx4sample32.csv filter=lfs diff=lfs merge=lfs -text
twi20approx4sample4.csv filter=lfs diff=lfs merge=lfs -text
twi20approx4sample64.csv filter=lfs diff=lfs merge=lfs -text
twi20approx8sample16.csv filter=lfs diff=lfs merge=lfs -text
twi20approx4sample8.csv filter=lfs diff=lfs merge=lfs -text
twi20approx8sample4.csv filter=lfs diff=lfs merge=lfs -text
twi20approx8sample8.csv filter=lfs diff=lfs merge=lfs -text
twi20approx4sample16.csv filter=lfs diff=lfs merge=lfs -text
